.wrap { display: inline-flex; }
.input { opacity: 0; width: 0; height: 0; position: absolute; }
.switch {
  --a: 0.5s ease-out;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  height: 1.6em;
  border-radius: 2em;
  box-shadow: 0 0 0 0.5em hsl(28 6% 26%);
  aspect-ratio: 212.4992 / 84.4688;
  background-color: hsl(28 6% 26%);
  transition: background-color var(--a), box-shadow var(--a);
}
.switch svg { height: 100%; }
.switch svg path {
  color: hsl(40 22% 90%);
  stroke-width: 16;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 136 224;
  transition: all var(--a), 0s transform;
  transform-origin: center;
}
.input:checked ~ .switch { background-color: hsl(38 91% 55%); box-shadow: 0 0 0 0.5em hsl(38 91% 55%); }
.input:checked ~ .switch svg path { stroke-dashoffset: 180; transform: scaleY(-1); color: hsl(34 62% 6%); }
.input:focus-visible ~ .switch { outline: 2px solid hsl(38 91% 55%); outline-offset: 4px; }
@media (prefers-reduced-motion: reduce) {
  .switch, .switch svg path { transition: none; }
}
